*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 100%;
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: grid;
}

.page-container > * {
  grid-area: 1 / -1;
}

.inner-header {
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;

  height: 50px;
  display: flex;
  justify-content: space-between;
}

.inner-header::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(rgba(29 36 36 / .8), rgba(29 36 36 / .8));
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
}

.inner-header.bkg-col::before {
  transform: scaleY(1);
}

.buttons-wrapper {
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.container-controls {
  cursor: pointer;
}

.slider {
  position: absolute;
  inset: 16px;
  top: 90px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
}

.slider::-webkit-scrollbar {
  appearance: none;
}

.slider.no-transition {
  scroll-behavior: auto;
}

.slider.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.slider.dragging .section {
  cursor: grab;
  user-select: none;
}

.section {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.section::-webkit-scrollbar {
  appearance: none;
}

.section h2 {
  text-align: center;
}

.slider section:nth-child(odd) {
  background-color: pink;
}

img {
  max-width: 100%;
  display: block;
}

.main-page,
.burger-menu {
  position: absolute;
  z-index: 10;
  inset: 16px;
  top: 90px;
  outline: 1px solid gold;
  transform: translateY(-300%);
  transition: transform .5s ease-in-out;
}

.main-page.open,
.burger-menu.open {
  transform: translateY(0);
}


:where(.main-page, .burger-menu) a {
  display: block;

}

.container:has(section.main-page.open) :where(.header, .slider),
.container:has(section.burger-menu.open) :where(.header, .slider, .main-page) {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}